h1 {
  text-align: center;
}
h2{
  color: red;
}

h3{
  color: blueviolet;
}

p1{
  color: brown;
}


divcom {
  float: left;
}

divwinner {
  text-align: center;
}

divwinner.p {

}

divplayer {
  float: right;
}

divwinner {
  color: darkorange;
}
